@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  color: #e0e0e0;
  background: linear-gradient(to bottom, #000506, #00262b); /* Subtle dark gradient */
  background-attachment: fixed;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: radial-gradient(#00bcd4 2px, transparent 1px);
  background-size: 2rem 2rem;
  opacity: 0.15;
  z-index: -1;
}

.background canvas {
  display: block;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

h1,
h2,
h3 {
  font-weight: 600;
  margin-bottom: 10px;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  margin-top: 50px;
  position: relative;
  padding: 20px;
  border-radius: 10px;
}

header img {
  width: 35%;
  height: 35%;
  border-radius: 50%;
  border: 3px solid #00bcd4;
}

header h1 {
  margin: 20px 0 10px;
  color: #00bcd4;
}

a {
  color: #00bcd4;
  text-decoration: none;
  font-weight: bold;
}
a:hover {
  text-decoration: underline;
}

.bio-text {
  max-width: 80%;
  font-size: 1rem;
  line-height: 1.6;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  text-align: left;
}

section {
  margin: 50px 0;
  padding: 20px;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  transform: translateY(50px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}
.section-content {
  max-width: 80%;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  text-align: left;
}

section.visible {
  opacity: 1;
  transform: translateY(0);
}

section h2 {
  font-size: 2rem;
  color: #00bcd4;
  margin-bottom: 20px;
}

.years {
  display: block;
  font-size: 1.1rem;
  font-weight: 300;
  margin-bottom: 10px;
}

.work-experience {
  margin-bottom: 20px;
}

.work-experience .job {
  margin-bottom: 20px;
}

.work-experience .job h3 {
  font-size: 1.5rem;
  color: #00bcd4;
  margin-bottom: 10px;
}

.personal-interests {
  margin-bottom: 40px;
}

.personal-interests .interest {
  margin-bottom: 20px;
}

.personal-interests .interest h3 {
  font-size: 1.5rem;
  color: #00bcd4;
  margin-bottom: 10px;
}

.personal-interests .interest p {
  margin: 0;
  font-size: 1rem;
  line-height: 1.6;
}

.carousel {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  padding: 10px;
  scroll-snap-type: x mandatory;
}

.carousel img {
  border-radius: 10px;
  border: 2px solid #00bcd4;
  flex-shrink: 0;
  height: auto;
  max-width: 100%;
  object-fit: cover;
  scroll-snap-align: start;
  width: calc(100% / 2.5);
}

footer {
  text-align: center;
  margin: 50px 0;
  color: #757575;
}

footer a:hover {
  text-decoration: underline;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

details > div {
  overflow: hidden;
  display: grid;
  animation-duration: 0.8s;
}

details > .animation {
  animation-name: grid-expand;
  animation-timing-function: ease-out;
}

details > .collapsing {
  animation-direction: reverse;
  animation-timing-function: ease-in;
}

details > div > div {
  min-height: 0;
}

@keyframes grid-expand {
  0% {
    grid-template-rows: 0fr;
  }
  100% {
    grid-template-rows: 1fr;
  }
}

#backToTop {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #121212;
  border: 2px solid #00bcd4;
  border-radius: 50%;
  padding: 15px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 1000;
}

#backToTop:hover {
  background-color: #1c1c1c;
  border-color: #1c1c1c;
  transform: scale(1.1);
}

#arrow {
  font-size: 22px;
  width: 22px;
  color: #00bcd4;
  display: block;
}

#backToTop:hover #arrow {
  color: #0097a7;
}
